<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
	<title>Analysis of Public Sector Salaries</title>
    <meta name="description" content="Data Analysis of Public Sector Salaries">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/sticky-menu.css')}}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#overview">Overview</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#graph">Graphs</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#data">Data</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#techniques">Techniques</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#citations">Citations</a>
                    </li>
                </ul>
            </div>	<!-- .navbar-collapse -->
        </div>		<!-- .container -->
    </nav>
    <!-- Home   -->
    <section id="home" class="home-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                	<br>
                	<br>
                	<br>
                	<br>
                	<br>
                	<h1>Data Analysis of Public Sector Salaries Over Time</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Overview -->
    <section id="overview" class="overview-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Overview</h1>
                    <p>My underlying hypothesis was that salaries in NYC were gradually increasing over the years and that the impact of the CoVID-19 pandemic would slightly decrease the salaries. To explore this, I used pandas and numpy to preprocess the data and used matplotlib and seaborn to display them as charts and to style the charts. From what I found, my hypothesis was correct, though in the year 2015, the salaries dipped.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Graphs Section -->
    <section id="graph" class="graph-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Graphs</h1>
					<p>Here is average gross salary per year.</p>
					<br>
					<img src="{{url_for('static',filename='graph.png')}}" width="1000" height="600"/>
					<br>
					<br>
					<br>
					<p>Here is average gross salary per year per borough.</p>
					<br>
					<img src="{{url_for('static',filename='graph2.png')}} "width="1000" height="600"/>
					<br>
					<br>
					<br>
					<p>Here is the total average salary per borough.</p>
					<br>
					<img src="{{url_for('static',filename='graph3.png')}} "width="1000" height="600"/>
                </div>
            </div>
        </div>
    </section>
    <!-- Data -->
    <section id="data" class="data-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Data</h1>
                    <p>The only data used for the above graphs is the Citywide Payroll Data from NYC Opendata. It contains data detailing payrolls of individuals from multiple different public sectors from each fiscal year from 2014 to 2020, inclusively. Though there was personal identifiable information provided, such as the name of the individual logged, this was not used within my graphs as more focus was placed on their salary and how it changed over time.</p>
                </div>
            </div>
        </div>
    </section>
	<!-- Techniques -->
    <section id="techniques" class="technique-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Techniques</h1>
                    <p>For all graphs, I processed the data into a dataframe and capitalized all work locations. With graph#1, I grouped it by year and calculated mean salaries for each year. With these values, I plotted and styled using Matplotlib to get a line chart that showed the trend as salaries changed over the years. For graph#2, I created a pivot table using the work locations, year, and salary. With this table, I extracted only the Boroughs needed as they best represent New York City. I then plotted using Seaborn as it helped generate the given graph with legend. For graph#3, I grouped it by work location and calculated mean salaries for each borough. With these values, I plotted and styled using Matplotlib.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Citations -->
    <section id="citations" class="citation-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Citations</h1>
                    <p>https://data.cityofnewyork.us/City-Government/Citywide-Payroll-Data-Fiscal-Year-/k397-673e
                    <br>
                    https://pandas.pydata.org/docs/
                    <br> 
                    https://html5-templates.com/
</p>
                </div>
            </div>
        </div>
    </section>
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>
	
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/sticky-menu.js')}}"></script>

</body>
</html>
